.App {
  font-family: sans-serif;
  /* text-align: center; */
}

.form-grid {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 0.5rem 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.form-grid label {
  justify-self: start;
}

.form-grid input {
  justify-self: start;
  width: 8rem;
  padding: 0.25rem 0.5rem;
}
